body {
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background:#f5f3ef;
  color:#2e2e2e;
}

/* NAVBAR */
.navbar {
  background:#2f3e3a;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
}

.logo {
  color:#e0b973;
  font-size:26px;
  font-weight:bold;
}

.navbar ul {
  list-style:none;
  display:flex;
  gap:30px;
}

.navbar ul li a {
  text-decoration:none;
  color:#ffffff;
  font-size:16px;
}

.navbar ul li a:hover {
  color:#e0b973;
}

/* HEADER */
.header {
  background:#4a5d58;
  color:white;
  padding:50px;
  text-align:center;
}

/* HERO */
.hero {
  background:linear-gradient(to right,#4a5d58,#b2b8a3);
  color:white;
  padding:90px 20px;
  text-align:center;
}

.hero h2 {
  font-size:42px;
}

.hero p {
  font-size:18px;
  margin-bottom:20px;
}

.hero button {
  background:#e0b973;
  color:#2f3e3a;
  padding:15px 35px;
  border:none;
  border-radius:30px;
  font-size:16px;
  cursor:pointer;
}

/* PLANNER CARD */
.planner {
  max-width:420px;
  background:white;
  margin:60px auto;
  padding:35px;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.planner h2 {
  color:#4a5d58;
  text-align:center;
}

input, select {
  width:100%;
  padding:12px;
  margin:12px 0;
  border:1px solid #ccc;
  border-radius:8px;
}

.planner button {
  width:100%;
  background:#4a5d58;
  color:white;
  padding:14px;
  border:none;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
}

.planner button:hover {
  background:#2f3e3a;
}

/* RESULT */
#result {
  margin-top:20px;
  background:#f1f0ea;
  padding:18px;
  border-radius:10px;
}

/* FOOTER */
footer {
  background:#2f3e3a;
  color:white;
  text-align:center;
  padding:20px;
}
